$black: #000;
$blue: #06f;
$dark-grey: #333;
$grey: #666;
$light-grey: #ccc;
$white: #fff;
$off-white: #f9f9f9;
$light-grey: #eee;
$orange: #f90;

body {
  background: $off-white;
  font-family: 'freight-sans-pro', Helvetica, Arial, sans-serif;
  height: 200%;
  margin: 0;
  padding: 0;
  position: relative;

  a {
    &:link,
    &:visited {
      color: $orange;
      text-decoration: none;
    }
    // &:hover,
    // &:active,
    // &:focus {}
  }

  header {
    border-right: 2px solid $light-grey;
    min-height: 100%;
    padding: 20px;
    padding-right: 20px;
    position: fixed;
    width: 200px;

    h1 {
      font-size: 1.4em;
      line-height: 1em;
      margin: 0 0 0 40px;

      a {
        &:link,
        &:visited {
          color: $black;
        }
      }

      small {
        display: block;
        font-size: 75%;

        a {
          &:link,
          &:visited {
            color: $grey;
          }
        }
      }
    }
  }

  .content {
    margin-left: 240px;
    min-height: 100%;
    padding: 20px;

    .canvas {
      min-height: 100%;
      position: relative;

      .frame {
        position: absolute;

        .matt0 {
          height: 100%;
          position: absolute;
          width: 100%;

          .inner {
            height: 100%;
            position: absolute;
            width: 100%;

            .picture {
              background: $blue;
              height: 100%;
              position: absolute;
              width: 100%;

              img {
                display: none;
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }

    .controls {
      background: $white;
      left: 20px;
      opacity: .9;
      padding: 20px;
      position: absolute;
      top: 260px;
      width: 160px;
      z-index: 101;

      form {
        fieldset {
          border: 0;
          margin: 0;

          legend {
            font-weight: bold;
          }

          label {
            display: block;
          }
        }
      }
    }
  }

  footer {
    bottom: 20px;
    left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 200px;

    p {
      margin: 0;
    }
  }
}
